.gradientWrapper {
  position: absolute;
  width: 100vw;
  height: 500vh;
  background: linear-gradient(
    to bottom,
    #121212 0%,
    #121212 10%,
    #1445bc 23%,
    #1445bc 25%,
    #142a61 30%,
    #131826 35%,
    #121212 100%
  );
  z-index: -1;
}

.customDots {
    margin-top: 1rem;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.customDots ul {
  width: 100%;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.customDots li {

}
.customDots li button {
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 100%;
  padding: 0;
  background-color: #d9d9d9;
  opacity: 20%;
}
.customDots ul li.slick-active button  {
    background-color: #d9d9d9;
    opacity: 50%;
    width: 0.8rem;
    border-radius:2.5px;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #d9d9d9 !important;
}